.lb-btn {
    background-color: #e34460;
    padding: .8rem 1.5rem;
    margin: 1rem 1rem 1rem 0;
    display: inline-block;
    color: #fff !important;
    text-decoration: none !important;
}

.lightboxOverlay {
	max-width: 100% !important;
}